@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F9E0D9;
    margin: 0;
    padding-top: 80px; 
}

.tools-container {
    text-align: center;
    padding: 0px 20px;
    padding-bottom: 100px;
    background-color: #F9E0D9; /* Add background color */
    margin-top: 0%;
}

.tools-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #420c14;
    margin-bottom: 60px;
    margin-top: 50px;
}

.tools-flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
}

.tool-card {
    border-radius: 20px;
    padding: 20px;
    margin: 5px;  
    width: 300px;
    border: 4px solid #732c2c;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tool-card:hover {
    transform: scale(1.05);
    box-shadow: 15px 15px 0px 0px black;
}

.tool-card h2 {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #420c14;
}

.tool-card p {
    font-size: 1em;
    color:#732c2c;
    font-family: 'Poppins';
    font-weight: 400 ;
    font-size: medium;
}

.tool-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    background-color: #732c2c;
    text-decoration: none;
    border-radius: 5px;
}
