nav {
    position: relative; 
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    padding-right: 1%;
    padding-left: 1%;
    background-color: #F9E0D9;
    transition: all 0.3s ease;  
}
.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: rgba(249, 224, 217, 0.75); 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin: 0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding-right: 2.5%
}

.navbar {
    display: flex; 
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: right;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
}

.logobar{
    display: flex; 
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.navbar li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 23px;
    text-decoration: none;
}

.block4{
    padding-top:30px ;
    padding-bottom: 30px;
    background-color: #216869;
}

.block4 .copyright{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #F9E0D9;
}

#title1{
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    color: #420c14;
    font-weight: 800;
}
#title2{
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    color: #732c2c;
    font-weight: 800;
}

#overview{
    color: #216869;
}

#aimodels{
    color: #732C2C;
    border: 3px solid #732C2C;
    display: inline-block;
    padding: 6px;   
}

#tools{
    display: inline-block;
    background-color: #420c14;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

#tools:hover{
    background-color: #6a1c1c;
}

.sign-up{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 23px;
    text-decoration: none;
    display: inline-block;
    background-color: #216869;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.sign-up:hover{
    background-color: #32A0A2;
}

body{
    margin: 0 0;
}